# Ignore build output directories
/build/empty/
/build/generated-sources/
/build/web/*
!/build/web/Images/

/dist/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# Ignore NetBeans specific files
nbproject/private/
nbproject/privileges.xml   
/UploadImage/build/
/UploadImage/nbproject/private/
