<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageRoleServlet</servlet-name>
        <servlet-class>controllers.manageRole.ManageRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoleServlet</servlet-name>
        <servlet-class>controllers.manageRole.CreateRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSeasonServlet</servlet-name>
        <servlet-class>controllers.manageSeason.CreateSeasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSeasonServlet</servlet-name>
        <servlet-class>controllers.manageSeason.ManageSeasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>controllers.manageUser.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controllers.manageUser.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>controllers.manageUser.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageRoleServlet</servlet-name>
        <url-pattern>/managerole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoleServlet</servlet-name>
        <url-pattern>/createrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSeasonServlet</servlet-name>
        <url-pattern>/createseason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSeasonServlet</servlet-name>
        <url-pattern>/manageseason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
